<h1>Sign Up</h1>
<% if @user.errors.any? %>
<div class="errors">
  <div class="alert alter-error">
    There was a problem with your form
  </div>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for(@user) do |u| %>
  <%= u.label :username %>
  <%= u.text_field :username %>

  <%= u.submit "sign up", :class => "btn btn-primary" %>
<% end %>
