<h1>Sign Up</h1>
<%= render 'error_messages' %>
<div class="span4 row">
<%= form_for(@user) do |u| %>
  <p><%= u.label :username %></p>
  <%= u.text_field :username %>

  <p class="pull-right"><%= u.submit "sign up", :class => "btn btn-primary" %></p>
<% end %>
</div>
